<div
  class="min-h-full bg-bg text-ctext dark:bg-bg-dark dark:text-ctext-dark flex flex-col justify-between items-center"
>
  <div class="min-w-full flex flex-col justify-center items-center">
    <nz-divider class="min-w-max my-2" nzDashed></nz-divider>
    <div class="text-2xl cursor-default">
      <span class="p-0 text-primBlue text-3xl">O</span>ne-hit Wonders
    </div>
    <app-search> </app-search>
  </div>

  <div class="min-w-full flex flex-col justify-between items-center">
    <nz-divider class="min-w-max my-2" nzDashed></nz-divider>
    <div class="px-4 text-xs text-center">
      Made with Angular, Express.js, Node.js, MongoDB, Apache ECharts, NG-ZORRO,
      Tailwind CSS, Last.fm API
    </div>

    <a
      class="flex items-center pt-1"
      href="https://github.com/SaintJuniper/onehit"
      target="_blank"
    >
      <i
        nz-icon
        class="text-3xl my-2 shadow-md"
        nzType="github"
        nzTheme="outline"
      ></i>
    </a>
  </div>
</div>
