<div class="container flex flex-col items-center justify-center gap-8">
  <h1 class="text-3xl font-bold underline">Hello world!</h1>

  <nz-select
    class="w-64"
    nzShowSearch
    nzServerSearch
    nzSize="large"
    nzPlaceHolder="Search for an artist..."
    [nzLoading]="isLoading"
    [(ngModel)]="selectedValue"
    [nzShowArrow]="true"
    (ngModelChange)="onChange()"
    (nzOnSearch)="onSearch($event)"
  >
    <nz-option
      *ngFor="let o of listOfOptions"
      [nzLabel]="o.name"
      [nzValue]="o.id"
    ></nz-option>
  </nz-select>
  <!-- 
  <button nz-button (click)="loadArtistInfo()" class="w-24" nzType="primary">
    Primary
  </button> -->

  <div *ngIf="track" class="w-96 shadow-md bg-white rounded-md p-8">
    <small>Artist</small>
    <div class="text-xl">{{ track.artist }}</div>
    <small>Most popular track</small>
    <div class="text-xl">{{ track.name }}</div>
    <hr />
    <div>
      Across the {{ track.tracks_size }} eligible tracks examined for this
      artist, {{ track.name }} has
      <b>{{ track.playCountPercent * 100 | number: "1.2-2" }}%</b>
      plays.
    </div>
    <a href="track.url">Last.fm-Link</a>
  </div>

  <br />
  <br />
</div>
