<div class="container flex flex-col items-center justify-center gap-8">
  <h1 class="text-3xl font-bold underline">Hello world!</h1>

  <nz-select
    class="w-64"
    nzShowSearch
    nzServerSearch
    nzSize="large"
    nzPlaceHolder="input search text"
    [nzLoading]="isLoading"
    [(ngModel)]="selectedValue"
    [nzShowArrow]="true"
    (ngModelChange)="onChange()"
    (nzOnSearch)="onSearch($event)"
  >
    <nz-option
      *ngFor="let o of listOfOptions"
      [nzLabel]="o.name"
      [nzValue]="o.id"
    ></nz-option>
  </nz-select>
  <!-- 
  <button nz-button (click)="loadArtistInfo()" class="w-24" nzType="primary">
    Primary
  </button> -->

  <h3>Artist</h3>
  <div *ngIf="track">
    {{ track.artist }}
    {{ track.name }}
    {{ track.playCountPercent }}
    {{ track.url }}
  </div>

  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  Selected : {{ selectedValue }}
</div>
