<div
  class="dark:text-ctext-dark text-ctext text-center flex flex-col justify-center items-center gap-2"
>
  <div class="px-4 max-w-xl">
    For each artist, we examine the streamed playcount of each of their top
    tracks up to a maximum of 50 eligible tracks. We look at the most iconic
    track and calculate the proportion of streams compared to the streams of the
    whole dataset for that artist.
  </div>
  <div class="px-4 max-w-xl">
    Histogram (below) shows the distribution of many artist's most popular track
    playcount % across their body of work.
  </div>
  <div class="px-4 max-w-xl">
    We look across the top 5000 artists according to last.fm with at least 25
    eligible tracks.
  </div>
  <div class="chart-container container">
    <div
      echarts
      [options]="chartOption"
      [autoResize]="true"
      class="chart"
    ></div>
  </div>
</div>
